@font-face {
  font-family: 'Roboto Condensed';
  src: url('../font/robotocondensed-300-normal.woff2') format('woff2'),
  url('../font/robotocondensed-300-normal.woff') format('woff'),
  url('../font/robotocondensed-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}