.search {
  position: absolute;
  top: 40px;
  right: 5px;
  background: transparent;
}

.search input {
  width: 250px;
  height: 37px;
  padding-left: 15px;
  border-radius: 25px;
  border: 2px solid rgba(216, 2016, 216, 0.9);
  background: transparent;
  outline: none;
  position: relative;
  transition: .3s linear;
  color: rgba(204, 255, 255, 1);
}

.search input:focus {
  width: 300px;
}

.search button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  position: absolute;
  top: -1px;
  right: 0;
  cursor: pointer;
  outline: none;
}

.fa-search {
  color: rgba(216, 2016, 216, 0.2);
}

@media all and (max-width: 655px) {
  .search {
    display: none;
  }
}