/*Бронируем отель*/
.bg-img-1-hotel {
  background: url("../img/hotel/hotel.jpg") fixed no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 87vh;
  position: relative;
}

.inner-hotel {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.bg-img-1-hotel p {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  padding: 14px;
  background: rgba(216, 216, 216, 0.9);
  border-radius: 20px;
  text-align: center;
}

.wrapper-hotel-indent,
.wrapper-security-indent {
  text-align: left;
  max-width: 730px;
  margin: 0 auto;
  line-height: 33px;
  padding: 20px;
  font-size: 25px;
}

.header-hotel {
  background: rgba(216, 216, 216, 0.2);
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

.wrapper-hotel-indent h4 {
  font-size: 25px;
  margin: 20px 0;
}

.wrapper-hotel-indent ol,
.wrapper-hotel-indent ul {
  list-style-position: inside;
}

.wrapper-hotel-indent ol > li,
.wrapper-hotel-indent ul >li {
  padding: 10px;
}

.wrapper-hotel-indent a {
  color: rgb(0, 196, 198);
  text-decoration: underline;
}

.wrapper-bg-color {
  background: rgba(216, 216, 216, 0.2);
  margin: 45px 0;
  padding: 15px 20px;
}

.wrapper-line {
  width: 100%;
  text-align: center;
}

.container-line {
  padding: 8px 43px;
  background-color: rgba(56, 56, 56, 1);
  display: inline-block;
  color: rgba(204, 255, 255, 1);
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  z-index: 2;
  position: relative;
  top: -45px;
}

.text-important {
  padding: 0 0 55px;
  width: 730px;
  margin: 0 auto;
  line-height: 33px;
  font-size: 25px;
}

@media all and (max-width: 576px) {
  .bg-img-1-hotel p {
    font-size: 23px;
    border-radius: 0;
  }
}