.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.socials {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.socials a {
  padding: 0 10px;
}

.fab {
  font-size: 23px;
}

.fa-facebook-f {
  color: rgb(59,87,157);
}

.fa-twitter {
  color: rgb(30,161,243);
}

.fa-google-plus-g {
  color: rgb(220,74,56);
}

.fa-vk {
  color: rgb(81,129,184);
}

.fa-vk:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-facebook-f:hover {
transform: scale(1.3);
}

.fa-home,
.fa-suitcase,
.fa-credit-card,
.fa-building,
.fa-unlock-alt {
  padding-right: 5px;
}

@media all and (max-width: 576px) {
  .socials {
    top: 0;
    flex-direction: column-reverse;
  }
}
