.bg-img-1-security {
  background: url("../img/security/traveling-mistakes.jpg") fixed no-repeat center;
  height: 90vh;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.inner-security {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bg-img-1-security p {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  padding: 14px;
  background: rgba(216, 216, 216, 0.9);
  border-radius: 20px;
  text-align: center;
}

.wrapper-security-indent ol {
  list-style-position: inside;
}

.wrapper-security-indent li {
  padding: 10px;
}

.header-security {
  background: rgba(216, 216, 216, 0.2);
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}