@import "things.css";
@import "ticket.css";
@import "icon.css";
@import "form-Search.css";
@import "fonts.css";
@import "hotel.css";
@import "security.css";
@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-animation {
  animation: 7s logo-animation linear infinite ;
}

.logo-animation:hover {
  animation: 7s logo-animation linear infinite paused;
  cursor: url("../img/cursor/smile.png"), pointer;
}
/*сброс стилей браузера*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Roboto Condensed', sans-serif ;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

/*общие свойства*/

body {
  line-height: 1.3;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
}

h1 {
  margin-top: 5px;
  font-size: 2.5em;
}

h2 {
  text-align: left;
  padding-top: 50px;
  font-size: 30px;
  margin-left: 30px;
}

h3 {
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(56, 56, 56, 1);
}

hr {
  width: 100%;
  margin: 0 0 20px;
}

/*кнопки*/

.button {
  background: -webkit-linear-gradient(top, rgba(183,222,237,0.2) 0%,
  rgba(204,255,255,0.5) 0%, rgba(113,206,239,0.2) 100%);
  color: rgba(56, 56, 56, 1);
  padding: 5px 25px 5px 5px;
  border-radius: 4px;
  box-shadow: inset 0 -5px 15px -5px;
  width: 140px;
  height: 30px;
  margin-bottom: 15px;
}

.button:hover {
  box-shadow: inset 0 -5px 10px -7px;
}

.button-big {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  box-shadow: inset 0 -6px 20px -6px;
  border-radius: 20px;
}

.fa-external-link-alt {
  color: rgba(56, 56, 56, 0.8);
}

.button-big:hover {
  background-color: rgba(204, 204, 204, 0.3);
}

.btn-up {
  position: fixed;
  bottom: -55px;
  right: 20px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: rgba(56, 56, 56, 0.6);
  z-index: 999;
  border: 2px solid rgba(204, 204, 204, 0.7);
  outline: 0;
  transition: .4s;
  cursor: pointer;
}

.btn-up.active {
  bottom: 20px;
}

.btn-up:after {
  content:"";
  width: 10px;
  height: 10px;
  border-top: 4px solid rgba(204, 204, 204, 0.9);
  border-left: 4px solid rgba(204, 204, 204, 0.9);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
}

/*стили header*/

.wrapper-page {
  margin: 0 auto;
}

header {
  min-width: 350px;
  padding: 15px 30px 0;
}

.logo{
  width: 55px;
  height: 55px;
  margin: 5px 10px 20px 25px;
}

.logo:hover {
  cursor: url("../img/cursor/smile.png") pointer;
}

.line-header {
  position: relative;
}

.slogan {
  position: absolute;
  top: -15px;
  left: 100px;
  background: linear-gradient(45deg, #71CEEF 33%, #CCFFFF 66%, #B7DEED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.wrapper-menu {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  padding: 20px 0 0;
}

.menu ul {
  padding: 0;
  width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.menu li {
  list-style-type: none;
  margin: 0 5px;
  padding: 10px;
}

.menu a {
  padding: 5px 10px;
  display: block;
}

.menu li:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  border-radius: 3px;
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,
  rgba(204,255,255,1) 0%, rgba(113,206,239,1) 100%);
  font-weight: 600;
}

.menu li:hover > a {
  color: rgba(56, 56, 56, 1);
}

/*Контент*/

.wrapper-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(204, 204, 204, 0.1);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.blog-box {
  width: 75%;
  padding: 10px;
  height: 100%;
}

.preview-box {
  margin: 20px;
  padding: 0 0 20px;
  width: 45%;
  min-width: 310px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.preview-box  p,
.preview-box-horizontal p{
  height: 100px;
  overflow: hidden;
}

.blog-box h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.preview-box a,
.preview-text-box-horizontal a {
  position: absolute;
  top: 94%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.img-box {
  width: 100%;
}

img {
  width: 100%;
  margin: 0;
}

.preview-text-box,
.preview-text-box-horizontal{
  text-align: justify;
  text-indent: 20px;
  margin: 20px 0 40px;
  padding: 0 10px;
}

.news-box {
  width: 25%;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 75%;
  height: 78%;
}

.item-news {
  list-style: square inside;
  padding: 5px;
  margin: 5px;
}

.news-box li {
  list-style-type: none;
}

.news-box li:before {
  content: "■";
  color: rgba(113,206,239,1);
  padding-right: 7px;
}

.item-news a{
  text-transform: none;
  text-decoration: underline;
  display: inline-block;
  padding-bottom: 5px;
}

.item-news a:hover {
  position: relative;
  right: 2px;
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  transform: skewX(-15deg);
}

.preview-box-horizontal {
  width: 100%;
  position: relative;
  margin: 40px 0;
}

.preview-box-horizontal  img {
  width: 50%;
}

.preview-text-box-horizontal a {
  margin: 9px 0;
}

.preview-text-box-horizontal {
  position: absolute;
  left: 50%;
  top: -4%;
  padding: 20px;
}

.best {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.preview-box-best {
  width: 220px;
  min-width: 220px;
  margin: 20px;
  text-align: center;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.card {
  position: relative;
  width: 220px;
  height: 214px;
  perspective: 1000px;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(360deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 1.1s;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-front {
  background-color: rgba(153, 153, 153, 0.2);
}

.card-back {
  background-color: rgba(88, 88, 88, 0.89);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:pointer
}

.card-front > p {
  display: inline-block;
  margin: 5px;
  text-transform: none;
  text-decoration: underline;
  color: rgba(0, 0, 102, 1);
  font-weight: 600;
  text-shadow: 2px 3px 2px rgba(150, 150, 150, 1);
}

.card-back p {
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
  padding: 0 7px;
}

.link-block-best {
  width: 220px;
  height: 214px;
}

.hr-card {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding-top: 1px;
  margin: 27px 0;
}

/*Футер*/

footer {
  padding: 20px 20px 0;
  text-align: center;
  margin-top: 30px;
}

footer ul {
  margin: 20px;
  list-style: none;
}

footer li {
  display: inline-block;
  border-left: 1px solid rgb(204, 255, 255);
  padding: 5px 10px;
}

footer li:first-of-type {
  border-left: none;
}

footer li:hover {
  text-decoration: underline;
}

.slogan-footer {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -20%)
}

/*Цвет*/

header,
footer{
  text-transform: none;
  color: rgba(204, 255, 255, 1);
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,
  rgba(44,44,44,1) 0%, rgba(28,28,28,1) 0%, rgba(43,43,43,1) 0%,
  rgba(17,17,17,1) 0%, rgba(102,102,102,1) 99%, rgba(19,19,19,1) 100%);
}

header a,
footer a {
  color: rgba(204, 255, 255, 1);
}
.preview-box,
.preview-box-horizontal {
  background-color: rgba(255, 255, 255, 1);
}

/*Адаптивность*/

@media all and (max-width: 988px) {
  .preview-text-box-horizontal {
    position: static;
    margin-top: 0;
    padding: 0 10px 45px;
  }

  .preview-box-horizontal img {
    width: 100%;
  }

  .preview-box-horizontal {
    width: 50%;
    margin: 0 auto;
  }

  .preview-text-box-horizontal a {
    top: 94%;
    margin: 0;
  }
}

@media all and (max-width: 992px) {
  .news-box {
    position: static;
    width: auto;
  }

  .blog-box {
    width: 100%;
  }

  h2 {
    padding-top: 20px;
  }

  .menu ul {
    width: 100%;
    justify-content: center;
  }

  .menu a {
    padding: 0;
  }

  .wrapper-header {
    padding: 10px 5px;
  }

  .best {
    justify-content: center;
  }
}

@media all and (max-width: 655px) {
  .menu ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .menu li {
    text-align: center;
    border-top: 1px solid rgba(204, 255, 255, 0.2);
  }

  .menu li:first-of-type {
    border-top: none;
  }

  footer li{
    display: block;
    border-left: none;
  }
}

@media all and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    text-align: center;
    margin-left: 0;
  }

  .preview-box-horizontal {
    width: 45%;
    min-width: 310px;
  }

  .blog-box h3 {
    margin: 0;
  }
}

@media all and (max-width: 576px) {
  .socials {
    right: 10px;
  }

  .slogan {
    left: 65px;
  }

  .logo {
    margin-left: 0;
  }
}

@media all and (max-width: 370px) {
  .socials{
    display: none;
  }

  header {
    padding: 15px 0 0;
  }
  .txt-animation {
    animation: none;
  }

  .line-header {
    margin: 10px;
  }
}


