/*Что взять с собой*/

.wrapper-page-rest {
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-page-rest > p{
  padding: 60px 20px 47px;
}

.container-block-text{
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
}

.container-block-text hr,
.container-block-text p {
  text-align: center;
  padding: 5px 10px 0;
  font-size: 25px;
}

.list {
  max-width: 730px;
  margin: 0 auto;
}

.list ul {
  background-color: rgba(204, 255, 255, 0.6);
  border-radius: 20px;
  margin: 0 0 40px;
  padding: 30px 60px;
}

.list li{
  padding: 10px;
  list-style-position: inside;
  text-align: left;
}

.things-img {
  width: 100%;
  margin: 0 auto;
}

.text-block {
  padding: 50px 15px 5px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.text-block-top {
  margin: 50px 15px 0;
}

.list p {
  padding: 0 15px 40px;
  line-height: 30px;
  font-size: 20px;
}

.bg-img-2,
.bg-img-3,
.bg-img-4,
.bg-img-5,
.bg-img-6,
.bg-img-7 {
  background: fixed  no-repeat  top center;
  background-size: cover;
  overflow: hidden;
  transform: translateZ(-10px) scale(1.1);
  box-shadow: 0 2px 29px -7px rgba(0,0,0,0.3);
  position: relative;
}

.bg-img-1 {
  background: url("../img/things/otpusk-bg.jpg") fixed  no-repeat center;
  height: 80vh;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.inner-things {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.wrapper-page-rest h2 {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 72px;
  text-shadow: 5px 3px 3px #666;
  padding-top: 0;
  margin-left: 0;
}

.bg-img-1 p,
.bg-img-2 h3,
.bg-img-3 p,
.bg-img-5 p,
.bg-img-7 p {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  padding: 14px;
  background: rgba(216, 216, 216, 0.9);
  border-radius: 20px;
  text-align: center;
}

.bg-img-2 {
  background-image: url("../img/things/depositphotos.jpg");
  height: 33vh;
}

.string {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  padding-bottom: 25px;
}
.string-bg {
  background: rgba(216, 216, 216, 0.2);
  font-size: 20px;
  margin: 20px 0 50px;
  padding: 35px 30px 0;
}

.block-gray {
  background: rgba(216, 216, 216, 0.2);
  font-size: 20px;
  padding: 35px 30px 0;
  margin: 20px 0;
}

.bg-img-3 {
  background-image: url("../img/things/Plyazhnaya-odezhda.jpg");
  height: 65vh;
  margin-top: 50px;
}

.bg-img-4 {
  background-image: url("../img/things/hat-and-glasses.jpg");
  height: 40vh;
  margin-top: 65px;
}

.bg-img-5 {
  background-image: url("../img/things/kosmetik.jpg");
  height: 60vh;
  margin-top: 80px;
}

.bg-img-6 {
  background-image: url("../img/things/hygiene-products.jpg");
  height: 37vh;
  margin-top: 70px;
  margin-bottom: 25px;
}

.bg-img-7 {
  background-image: url("../img/things/reiseapotheke.jpg");
  height: 67vh;
  margin-top: 70px;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  display: block;
}

@media all and (max-width: 526px){
  .bg-img-1 {
    height: 100vh;
  }

  .bg-img-1 p {
    min-width: 338px;
  }

  .bg-img-7 {
    height: 80vh;
  }

  .list p {
    font-size: 17px;
  }

  .list li {
    font-size: 13px;
  }

  .list li {
    font-size: 15px;
  }

  .bg-img-1 p,
  .bg-img-2 h3,
  .bg-img-3 p,
  .bg-img-5 p,
  .bg-img-7 p {
    font-size: 15px;
  }
}