/*Как купить билеты*/
.bg-img-1-ticket {
  background: url("../img/ticket/airport-1.jpg") fixed no-repeat top center;
  background-size: cover;
  overflow: hidden;
  height: 80vh;
  position: relative;
}

.inner-ticket {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.bg-img-1-ticket p {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  padding: 14px;
  background: rgba(216, 216, 216, 0.9);
  border-radius: 20px;
  text-align: center;
}

.wrapper-number {
  width: 100%;
  margin: 60px auto 0;
  height: 50px;
}

.number {
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: rgba(204, 255, 255, 1);
  background-color: rgba(56, 56, 56, 1);
  margin: 0 auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  padding-top: 1px;
  z-index: 2;
  position: relative;
  bottom: 47px;
}

.wrapper-page-rest-2 h2 {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 72px;
  text-shadow: 5px 3px 3px #666;
  padding-top: 0;
  margin-left: 0;
}

.hr-line {
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding-top: 1px;
}

.string-left {
  text-align: left;
  max-width: 730px;
  margin: 0 auto;
  line-height: 33px;
}

@media all and (max-width: 576px) {
  .wrapper-page-rest h2 {
    font-size: 45px;
  }

  .bg-img-1-ticket p {
    font-size: 23px;
    border-radius: 0;
  }
}
